body {
    margin: auto;
    padding: 5px 5px;
    width: auto;
    font-family: 'Roboto Condensed', sans-serif;
    
    ul{
        list-style-type: none;
color:DarkGrey

    
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
color:DarkGrey;

    
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
color:DarkGrey;
    
}
    
   ul li .inline{
        
        display: inline;
        color: DarkGrey;
list-style-type: none;

        
    }
a {
  position: relative;
display: inline-block;
    text-decoration: none;
    color: DarkGrey;
}
a:hover {
    color: #0e0e0e;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    
}

    
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    list-style: none;
    color:DarkGrey;

}

ul.posts li {
    list-style: none;
color:DarkGrey;
}







span{
  visibility:hidden;
}

.date {
    font-family: roboto, sans-serif;
    font-size: 8px;


.text {
  display:inline;
}
  
 .confirm {
    display:inline;
    
    }

.print {
  display: block;
}
    
  
.submit {
  display: inline;
  
    
  }




